<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :Name %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :Image_Link %><br>
    <%= f.text_field :image, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :Kind %><br>
    <%= f.select :kind, ["Eat", "Drink", "Shop"], {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :Description %><br>
    <%= f.text_area :content, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit "Publish", class: 'btn btn-primary' %>
  </div>
<% end %>
