<p>  
	<%= place.kind %> // 
</p>
<p>	
	<h2><%= link_to place.title, place %> <%= simple_format place.content %></h2>
</p>
<p>
	<%= image_tag place.image, style: "width: 100%" %>
</p>	

<p>
  
</p>

<p class="text_muted">
	<small>Posted at <%= place.created_at.to_formatted_s(:long) %></small>
</p>

