
<div class="row">
	<div class="col-md-5">
		<%= image_tag place.image, style: "width: 100%" %>	
		<%= button_to '+1', upvote_place_path(place), method: :post %>
		<%= pluralize(place.votes.count, "♥") %>
		<%= button_to '-1', downvote_place_path(place), method: :post %>
	</div>
	<div class="col-md-7">
	<p>  
		<%= place.kind %> // 
	</p>
	<p><h2><%= link_to place.title, place %></h2></p>
	<p><h3><%= simple_format place.content %></h3></p>
	
	<p class="text_muted">
		<small>Posted at <%= place.created_at.to_formatted_s(:long) %></small>
	</p>
</div>
</div>
