<div class="container">

<%if notice.present? %>
	<p class="alert alert-info">
		<%= notice %>
	</p>
<% end %>

	<p>  
		<%= @place.kind %> // 
	</p>
	<p class="text_muted">
		<small>Posted at <%= @place.created_at.to_formatted_s(:long) %></small>
	</p>
	<p><h2><%= link_to @place.title, @place %></h2></p> 
	<p><h3><%= simple_format @place.content %></h3></p>
	
	<p><%= image_tag @place.image, style: "width: 100%" %></p>	
	
	
<p>
<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Delete', @place, method: :delete, data: { confirm: 'Are you sure?' } %> 
</p>
<p>
<%= link_to 'Back', root_path %>
</p>
</div>